* {
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  
    overflow-x: hidden;
  
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .btn {
    padding: 16px;
    border: none;
    border-radius: 5px;
  
    background-color: rgb(27, 27, 27);
    color: #fff;
  
    font-family: inherit;
  
    cursor: pointer;
  }
  
  .toast-wrapper {
    position: absolute;
    right: 2%;
    bottom: 5%;
  }
  
  .toast {
    padding: 30px;
    margin-top: 15px;
    border-radius: 5px;
  
    background-color: gray;
    color: #fff;
  
    font-family: inherit;
  
    cursor: pointer;
  }